.case {width: 30px;
      height: 30px;}
.rouge {animation: couleurs 1s infinite;}
@keyframes couleurs {0%{background-color: orange;}
                    50%{background-color: yellow;}
                   100%{background-color: red;}}
.container {animation: marcher 5s infinite;}
@keyframes marcher {0% {transform: translateX(0px);}
                   50% {transform: translateX(500px);}
                   100%{transform: translateX(0px);}}